:root {
    --primary-color: #333;
    --secondary-color: #3498db;
    --header-background-color: peachpuff;
    --card-background-color: rgb(140, 140, 245);
    --background-color: white;
    --menu-background-color: pink;
}

* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;

    color: var(--primary-color);
}

a {
    text-decoration: none;

    color: var(--secondary-color);
}

h1, h2, h3 {
    margin-bottom: 0.5rem;

    color: var(--primary-color);
}

ul {
    padding: 0;
    margin: 0;

    list-style: none;
}

/* Header Styles */
.site-header {
    padding: 0.5rem;

    text-align: center;

    background-color: var(--header-background-color);
    border-bottom: 1px solid var(--menu-background-color);
}

.logo-container {
    margin-bottom: 0.5rem;
}

/* New Flex Container for Logo and Text */
.header-content {
    display: flex;
    align-items: left;
    flex-direction: column; /* Default to column for mobile */

    justify-content: left;
}

.header-text {
    margin-left: 1.5rem; /* Space between logo and text */
    padding:0.5rem;
    display:block;

    background-color: var(--background-color);
    color: var(--secondary-color);
}

/* Main Navigation Styles */
.main-nav {
    background-color: var(--menu-background-color);
}
.main-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.25rem;
    gap: 1rem;

}

.subheading{
    display:inline-block;
    flex-direction: column;

    background-color: var(--header-background-color);
}
/* Desktop Styles */
@media (min-width: 50rem) {
    .header-content {
        flex-direction: row; /* Change to row for desktop */
    }

    .main-nav ul {
        flex-direction: row;

        justify-content: space-around;
    }

    .main-nav a {
        display: inline-block;
        padding: 0.5rem 1rem;
    }
}

/* Main Content */
.site-content {
    padding: 1rem;

    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

/* Card Styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; /* Minimum center gutter */
    margin: 2.5rem;
    padding: 0rem; /* Remove padding if any */

    justify-items: stretch;
}

.card {
    border-radius: 8px;
    padding: 1rem;
    
    text-align: center;

    background-color: var(--card-background-color);
    border: 1px solid var(--menu-background-color);
}

.card img {
    width: 100%;
    border-radius: 8px;
    max-height:200px;
    
}

.card p {
    margin: 1rem 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 5px;

    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* Footer Styles */
.site-footer {
    padding: 1rem;

    text-align: center;

    background-color: var(--primary-color);
    color: var(--background-color);
}

.site-footer ul {
    display: grid; /* Use grid layout for footer links */
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; /* Space between footer links */
    margin: 0; /* Reset*/
    padding: 0; /*Reset*/
}

.site-footer a {
    font-size: 0.875rem; /* Smaller font for footer */

    color: var(--background-color);
}

/* Media Queries */
@media (min-width: 50rem) {
    .site-footer ul {
        flex-direction: row; /* Keep horizontal layout for desktop */
        
        justify-content: space-around; /* Space out items */
    }
}

/* Mobile Card Styles */
@media (max-width: 50rem) {
    .card-container {
        grid-template-columns: 1fr; 
        gap: 0.5rem; /* Keep the same minimum center gutter */
        margin: 0rem; 
    }
    
    .site-footer ul {
        grid-template-columns: 1fr; 
        gap: 1rem; 
    }

}

